body {
 font-size: 2em; 
}
/* 
	font-family: "squealer";
	font-family: "Home School"; 
	font-family: "Alone On Earth";
	font-family: "aAlloyInk";
	font-family: "Sketch 3D";
	font-family: "Cute Stitch";attention les nombres ne s'achichent pas 
	font-family: "cute 'n' cuddly";
	font-family: "cute 'n' cuddly Italic";
	font-family: "Cookie";
	font-family: "CHICKEN Pie";
	font-family: "CHICKEN Pie Height";
	font-family: "Candy Beans";
	font-family: "Bubble Bobble";
	font-family: "Avocado Creamy";
	font-family: "Another Round";
	font-family: "Brightly Crush Shine";
	font-family: "avocado";
	font-family: "Boba Panda Font by 7NTypes";
	font-family: "Hooman Stitch";
	font-family: "LOVESCOOTER";
	font-family: "Humble Boys demo";
	font-family: "Jolly Rainbow";
	font-family: "Lova Bear Two Font by Dreamink (7NTypes)";
	font-family: "Lova Bear Font by Dreamink (7NTypes)";
  font-family: "MilkyNice";
	font-family: "Shells And Starfish";
	font-family: "Orange Juice";
	font-family: "MilkyNice-Clean";
	font-family: "QUIRKYLAND";
	font-family: "SkyBlue";
	font-family: "Stella Demo";
	font-family: "SugarpunchDEMO";
	font-family: "Sunday Morning";
	font-family: "Super Kids";
	font-family: "Super Kids";
*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1e3e79;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1e3e79;
}
/* 
/*
  https://fontawesome.com/
  font-family: "Roboto-Black";
	font-family: "Roboto-BlackItalic";
	font-family: "Roboto-BoldCondensed";
	font-family: "Roboto-ThinItalic";
	font-family: "Roboto-ThinItalic";
  font-family: "Roboto-Black";
	font-family: "Roboto-Regular";
	font-family: "Roboto-MediumItalic";
	font-family: "Roboto-Medium";
	font-family: "Roboto-LightItalic";
	font-family: "Roboto-Light";
	font-family: "Roboto-Italic";
	font-family: "Roboto-CondensedItalic";
	font-family: "Roboto-Condensed";
	font-family: "Roboto-BoldItalic";
	font-family: "Roboto-BoldCondensedItalic";
	font-family: "Roboto-BoldCondensed";
	font-family: "Roboto-Bold";
	font-family: "Roboto-BlackItalic";
	font-family: "Roboto-Black";
	font-family: "BebasNeue-Regular"; 
	font-family: "CaviarDreams";
	font-family: "CaviarDreams_Italic"; 
	font-family: "Comfortaa-Light"; 
	font-family: "minimal";
	font-family: "a_alloy_ink";
	font-family: "Pokemon Hollow";
*/