  /* https://fontawesome.com/ */
  @font-face {
    font-family: "aAlloyInk";
    src: url("src/font/aAlloyInk/aAlloyInk.otf");
  }

  @font-face {
    font-family: "Roboto-Black";
    src: url("src/font/roboto/Roboto-Black.ttf");
  }

  @font-face {
    font-family: "Roboto-BoldCondensedItalic";
    src: url("src/font/roboto/Roboto-BoldCondensedItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-BlackItalic";
    src: url("src/font/roboto/Roboto-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-BoldCondensed";
    src: url("src/font/roboto/Roboto-BoldCondensed.ttf");
  }

  @font-face {
    font-family: "Roboto-ThinItalic";
    src: url("src/font/roboto/Roboto-ThinItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-ThinItalic";
    src: url("src/font/roboto/Roboto-ThinItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-Thin";
    src: url("src/font/roboto/Roboto-Thin.ttf");
  }

  @font-face {
    font-family: "Roboto-Regular";
    src: url("src/font/roboto/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "Roboto-MediumItalic";
    src: url("src/font/roboto/Roboto-MediumItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-Medium";
    src: url("src/font/roboto/Roboto-Medium.ttf");
  }

  @font-face {
    font-family: "Roboto-LightItalic";
    src: url("src/font/roboto/Roboto-LightItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url("src/font/roboto/Roboto-Light.ttf");
  }

  @font-face {
    font-family: "Roboto-Italic";
    src: url("src/font/roboto/Roboto-Italic.ttf");
  }

  @font-face {
    font-family: "Roboto-CondensedItalic";
    src: url("src/font/roboto/Roboto-CondensedItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-Condensed";
    src: url("src/font/roboto/Roboto-Condensed.ttf");
  }

  @font-face {
    font-family: "Roboto-BoldItalic";
    src: url("src/font/roboto/Roboto-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-BoldCondensedItalic";
    src: url("src/font/roboto/Roboto-BoldCondensedItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-BoldCondensed";
    src: url("src/font/roboto/Roboto-BoldCondensed.ttf");
  }

  @font-face {
    font-family: "Roboto-Bold";
    src: url("src/font/roboto/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "Roboto-BlackItalic";
    src: url("src/font/roboto/Roboto-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Roboto-Black";
    src: url("src/font/roboto/Roboto-Black.ttf");
  }

  /*
*
*Finde l'ajout  de la police Robototo
*
*/
  /* Ajout font BebasNeue-Regular */
  @font-face {
    font-family: "BebasNeue-Regular";
    src: url("src/font/bebas_neue/BebasNeue-Regular.ttf");
  }

  @font-face {
    font-family: "BebasNeue-Regular";
    src: url("src/font/bebas_neue/BebasNeue-Regular.otf");
  }

  /* Fin Ajout font BebasNeue-Regular */
  /* Ajout CaviarDreams */
  @font-face {
    font-family: "CaviarDreams";
    src: url("src/font/CaviarDreams/CaviarDreams.ttf");
  }

  @font-face {
    font-family: "CaviarDreams_Bold";
    src: url("src/font/CaviarDreams/CaviarDreams_Bold.ttf");
  }

  @font-face {
    font-family: "CaviarDreams_BoldItalic";
    src: url("src/font/CaviarDreams/CaviarDreams_BoldItalic.ttf");
  }

  @font-face {
    font-family: "CaviarDreams_Bold";
    src: url("src/font/CaviarDreams/CaviarDreams_Bold.ttf");
  }

  @font-face {
    font-family: "CaviarDreams_BoldItalic";
    src: url("src/font/CaviarDreams/CaviarDreams_BoldItalic.ttf");
  }

  /* Fin de l'aout font CaviarDreams */
  @font-face {
    font-family: "CaviarDreams_Italic";
    src: url("src/font/comfortaa/CaviarDreams_Italic.ttf");
  }

  @font-face {
    font-family: "Comfortaa-Bold";
    src: url("src/font/comfortaa/Comfortaa-Bold.ttf");
  }

  @font-face {
    font-family: "Comfortaa-Bold";
    src: url("src/font/comfortaa/Comfortaa-Bold.ttf");
  }

  @font-face {
    font-family: "Comfortaa-Light";
    src: url("src/font/comfortaa/Comfortaa-Light.ttf");
  }

  @font-face {
    font-family: "Comfortaa-Regular";
    src: url("src/font/comfortaa/Comfortaa-Regular.ttf");
  }

  @font-face {
    font-family: "a_alloy_ink";
    src: url("src/font/aAlloyInk/aAlloyInk.ttf");
  }

  @font-face {
    font-family: "SundayMorning";
    src: url("src/font/Sunday Morning/SundayMorning.ttf");
  }

  @font-face {
    font-family: "Pokemon Solid";
    src: url("src/font/pokemon/Pokemon Solid.ttf");
  }

  @font-face {
    font-family: "Pokemon Hollow";
    src: url("src/font/pokemon/Pokemon Hollow.ttf");
  }









  /* police de type otf cartoons*/

  @font-face {
    font-family: "aAlloyInk";
    src: url("src/font/cartons/aAlloyInk.otf");
  }

  @font-face {
    font-family: "Alone On Earth";
    src: url("src/font/cartons/Alone On Earth.otf");
  }

  @font-face {
    font-family: "Another Round";
    src: url("src/font/cartons/Another Round.otf");
  }

  @font-face {
    font-family: "Avocado Creamy";
    src: url("src/font/cartons/Avocado Creamy.otf");
  }

  @font-face {
    font-family: "avocado";
    src: url("src/font/cartons/avocado.otf");
  }

  @font-face {
    font-family: "Boba Panda Font by 7NTypes";
    src: url("src/font/cartons/Boba Panda Font by 7NTypes.otf");
  }

  @font-face {
    font-family: "Brightly Crush Shine";
    src: url("src/font/cartons/Brightly Crush Shine.otf");
  }

  @font-face {
    font-family: "Bubble Bobble";
    src: url("src/font/cartons/Bubble Bobble.otf");
  }

  @font-face {
    font-family: "Candy Beans";
    src: url("src/font/cartons/Candy Beans.otf");
  }

  @font-face {
    font-family: "CHICKEN Pie Height";
    src: url("src/font/cartons/CHICKEN Pie Height.otf");
  }

  @font-face {
    font-family: "CHICKEN Pie";
    src: url("src/font/cartons/CHICKEN Pie.otf");
  }

  @font-face {
    font-family: "Cookie";
    src: url("src/font/cartons/Cookie.otf");
  }

  @font-face {
    font-family: "cute 'n' cuddly Italic";
    src: url("src/font/cartons/cute 'n' cuddly Italic.otf");
  }

  @font-face {
    font-family: "cute 'n' cuddly";
    src: url("src/font/cartons/cute 'n' cuddly.otf");
  }

  @font-face {
    font-family: "Cute Stitch";
    src: url("src/font/cartons/Cute Stitch.otf");
  }

  @font-face {
    font-family: "Home School";
    src: url("src/font/cartons/Home School.otf");
  }

  @font-face {
    font-family: "Hooman Stitch";
    src: url("src/font/cartons/Hooman Stitch.otf");
  }

  @font-face {
    font-family: "Humble Boys demo";
    src: url("src/font/cartons/Humble Boys demo.otf");
  }

  @font-face {
    font-family: "Jolly Rainbow";
    src: url("src/font/cartons/Jolly Rainbow.otf");
  }

  @font-face {
    font-family: "Lova Bear Font by Dreamink (7NTypes)";
    src: url("src/font/cartons/Lova Bear Font by Dreamink (7NTypes).otf");
  }

  @font-face {
    font-family: "Lova Bear Two Font by Dreamink (7NTypes)";
    src: url("src/font/cartons/Lova Bear Two Font by Dreamink (7NTypes).otf");
  }

  @font-face {
    font-family: "LOVESCOOTER";
    src: url("src/font/cartons/LOVESCOOTER.otf");
  }

  @font-face {
    font-family: "MilkyNice";
    src: url("src/font/cartons/MilkyNice.otf");
  }

  @font-face {
    font-family: "MilkyNice-Clean";
    src: url("src/font/cartons/MilkyNice-Clean.otf");
  }

  @font-face {
    font-family: "Orange Juice";
    src: url("src/font/cartons/Orange Juice.otf");
  }

  @font-face {
    font-family: "QUIRKYLAND";
    src: url("src/font/cartons/QUIRKYLAND.otf");
  }

  @font-face {
    font-family: "Shells And Starfish";
    src: url("src/font/cartons/Shells And Starfish.otf");
  }

  @font-face {
    font-family: "Sketch 3D";
    src: url("src/font/cartons/Sketch 3D.otf");
  }

  @font-face {
    font-family: "SkyBlue";
    src: url("src/font/cartons/SkyBlue.otf");
  }

  @font-face {
    font-family: "Stella Demo";
    src: url("src/font/cartons/Stella Demo.otf");
  }

  @font-face {
    font-family: "SugarpunchDEMO";
    src: url("src/font/cartons/SugarpunchDEMO.otf");
  }

  @font-face {
    font-family: "Sunday Morning";
    src: url("src/font/cartons/Sunday Morning.otf");
  }

  @font-face {
    font-family: "Super Kids";
    src: url("src/font/cartons/Super Kids.otf");
  }

  @font-face {
    font-family: "SweetWinterRegular";
    src: url("src/font/cartons/SweetWinterRegular.otf");
  }

 






  /* Fin SECTION */
  /*
	Police disponibles   
	
	*/